<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarrenFang's Blog</title>
    <link href="~/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/admin/Dashbord.min.css" rel="stylesheet" />
    <link href="~/lib/FontAwesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/FontAwesome/css/fontawesome.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/poper/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/js/siteInit.js"></script>
    <style type="text/css">
        i {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="row justify-content-md-center mb-4">
                        <a href="/" class="btn btn-outline-info btn-sm">Home</a>
                        <a href="/User/Logout" class="btn btn-light btn-sm mr-2">Sign Out</a>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Dashboard">
                                <i class="fas fa-peace m-2"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Article">
                                <i class="fas fa-book m-2"></i>
                                Article
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/UserAdmin">
                                <i class="fas fa-user m-2"></i>
                                User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
