<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Darren's Blog</title>
    <link href="~/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/website.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/poper/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-12 text-lg-center">
                    <a class="blog-header-logo text-dark text-decoration-none" href="/">Time In Solitary</a>
                    <a class="btn btn-sm btn-outline-secondary float-lg-right" asp-action="Login" asp-controller="User">Sign In</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-center">
                <a class="p-3 text-muted" href="#">Feelings</a>
                <a class="p-3 text-muted" href="#">In</a>
                <a class="p-3 text-muted" href="#">My</a>
                <a class="p-3 text-muted" href="#">Life</a>
            </nav>
        </div>

        @RenderBody()
    </div>
    <footer class="blog-footer">
        <p>Darren Fang's Blog-@DateTime.Now.Year</p>
        <p>The beast in you,beast in me.That's me.</p>
    </footer>
    <style>
        .blog-footer {
            padding: 1.5rem 0;
            color: #999;
            text-align: center;
            background-color: #f9f9f9;
            border-top: .05rem solid #e5e5e5;
        }

        .blog-header-logo {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
            font-size: 2.25rem;
        }
    </style>
</body>
</html>
